{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<section class="home-section">
    <div class="welcome-container">
        <h1>Welcome to Your Triathlon Tracker!</h1>
        <p>Your journey to a stronger, faster, and better you starts here.</p>
        <p>Ready to track your progress across running, swimming, and cycling?</p>

        {% if not user.is_authenticated %}
        <div class="cta-container">
            <a href="{% url 'register' %}">Sign Up & Start Training</a>
            <a href="{% url 'login' %}">Already a Member? Log In</a>
        </div>
        {% endif %}
    </div>
</section>


<section class="home-section">
    <div class="home-container">
        <h2>About Triathlon Tracker</h2>
        <p>Triathlon Tracker is your ultimate companion to help you monitor your progress across running, swimming, and cycling. Whether you are a beginner or an experienced triathlete, our platform is designed to assist you in reaching your fitness goals efficiently.</p>

    </div>
</section>

<section class="home-section">
    <div class="home-container">
        <h2>Your Triathlon Training</h2>
        <p>Track your progress and monitor your workouts across three key disciplines: <span>running, swimming, and cycling.</span>
</section>
    
{% endblock %}


