{% extends 'base.html' %}

{% block title %} Races - Add {% endblock %}

{% block content %}
    
    {% if form.instance.pk %}
        <h1>Update the race</h1>
    {% else %}
        <h1>Create a new race</h1>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ race_form.as_p }}
        <div class="js-subform-discipline">
            {{ discipline_form_set }}
        </div>
        
        <button type="submit">Submit</button>
    </form>
    

    <a href="{% url 'races' %}">Back to the List</a>
{% endblock %}