{% extends 'base.html' %}

{% block title %} Workout - Details {% endblock %}

{% block content %}
    <h1>Workout Details:</h1>
    <p>{{ workout.get_activity_type_display }} on {{ workout.date }}</p>
    <p><strong>Distance:</strong> {{ workout.distance_m }} meters</p>
    <p><strong>Duration:</strong> {{ workout.duration }}</p>
    <p><strong>Intensity:</strong> {{ workout.intensity }}</p>
    <p><strong>Notes:</strong> {{ workout.notes }}</p>

    <form method="POST" action="{% url 'detail_workout' workout_id=workout.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <a href="{% url 'workout_list' %}" >Back to List</a>
    
{% endblock %}


