{% extends 'base.html' %}

{% block title %} Races {% endblock %}

{% block content %}
    
    <h1>All races</h1>
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <br>
    {% endif %}
    <div> 
        <a href="{% url 'add_race' %}" >Create a new race</a>
    </div>
    <hr>
    <div class="races-container">
        <div>
            <h5>Your upcoming races</h5>
            <h6>Total: {{ upcoming_races_count }}</h6>
            {% for race in upcoming_races %}
                <div>
                    <p>Name: {{ race.race_name }}</p>
                    <p>Location: {{ race.location }}</p>
                    <p>Date: {{ race.date }}</p>
                    <p>Goal time: {{ race.prediction_time }}</p>
                </div>
                <a href="{% url 'delete_race' race.id %}">Delete</a>
                <a href="{% url 'update_race' race.id %}">Update</a>
                <hr>
            {% endfor %}
        </div>
        <div>
            <h5>Your past races</h5>
            <h6>Total: {{ past_races_count }}</h6>
            {% for race in past_races %}
                <div>
                    <p>Name: {{ race.race_name }}</p>
                    <p>Location: {{ race.location }}</p>
                    <p>Date: {{ race.date }}</p>
                    <p>Goal time: {{ race.prediction_time }}</p>
                </div>
                <a href="{% url 'delete_race' race.id %}">Delete</a>
                <a href="{% url 'update_race' race.id %}">Update</a>
                <hr>
            {% endfor %}
        </div>
    </div>
    
    
    

    
    
{% endblock %}