{% extends 'base.html' %}

{% block title %} Races {% endblock %}

{% block content %}
    
    <h1>All races</h1>
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <br>
    {% endif %}
    <div> 
        <h3>Here you can see all your races</h3>
        <a href="{% url 'add_race' %}" >Create a new race</a>
    </div>
    <h5>You will be/are competing in {{ races_count }} races</h5>

    {% for race in races %}
    <hr>
        <div class="race-contaienr">
            <p>Name: {{ race.race_name }}</p>
            <p>Location: {{ race.location }}</p>
            <p>Date: {{ race.date }}</p>
            <p>Goal time: {{ race.prediction_time }}</p>
        </div>
        <a href="{% url 'delete_race' race.id %}">Delete</a>
        <a href="{% url 'update_race' race.id %}">Update</a>
    {% endfor %}

    

    
    
{% endblock %}