{% extends 'base.html' %}

{% block title %} Home - Workout Tracker {% endblock %}

{% block content %}
    
    <h1>Workout List</h1>
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <br>
    {% endif %}
    <div> 
        <h3>Welcome to your workout tracker! Here you can add, view, and edit your workouts.</h3>
        <a href="{% url 'add_workout' %}" >Add workout +</a>
    </div>
    <h5>There are {{ workouts_count }} workouts</h5>

    <a href="{% url 'workout_list' %}">All</a>

    <form method="GET" action="{% url 'workout_list' %}">
        <label for="search-text">Filter by activity, distance or name</label>
        <input type="text" id="search-text" name="q" placeholder="Type to filter...">
        <button type="submit">Submit</button>
    </form>
    

    <div class="workout-table">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Name</th>
                    <th>Intensity</th>
                </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                    <tr>
                        <td>{{ workout.get_activity_type_display }}</td>
                        <td>{{ workout.date }}</td>
                        <td>{{ workout.distance_m }} m</td>
                        <td>{{ workout.duration }}</td>
                        <td>{{ workout.name }}</td>
                        <td>{{ workout.intensity }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No workout found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    
    
{% endblock %}
