{% extends 'base.html' %}

{% block title %} Home - Workout Tracker {% endblock %}

{% block content %}
    <h1>Workout List</h1>
     
    <div class="workout-table">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Distance</th>
                    <th>Duration</th>
                    <th>Name</th>
                    <th>Intensity</th>
                </tr>
            </thead>
            <tbody>
                {% for workout in workouts %}
                    <tr>
                        <td>{{ workout.get_activity_type_display }}</td>
                        <td>{{ workout.date }}</td>
                        <td>{{ workout.distance_m }} m</td>
                        <td>{{ workout.duration }}</td>
                        <td>{{ workout.name }}</td>
                        <td>{{ workout.intensity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{% url 'add_workout' %}" >Add workout</a>
    
{% endblock %}
