/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #212529; 
    color: #F8F9FA;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header Styles */
header {
    background-color: #DEE2E6; 
    padding: 1rem 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.logo a {
    letter-spacing: .1rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;  
    color: #212529;
    margin-left: 1rem;
}

.logo a:hover , 
.nav-logout-btn:hover , 
.nav-list a:hover ,
.user-actions a:hover{
    color: #ef233c;
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
    gap: 3rem; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-list a {
    text-decoration: none;
    color: #212529;
    font-weight:300;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.user-actions a{
    text-decoration: none;
    color: #212529;
    margin-right: 2rem;
}

.nav-logout-btn {
    color: #212529;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 2rem;
}


/* Main Section Styles & General tags*/
main {
    max-width: 1300px;
    margin: 1rem auto;
    flex: 1;
    
}

h1 {
    font-size: 2rem;
    color: #ef233c; 
    margin-bottom: 1.1rem;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #DEE2E6;
}

p {
    font-size: 1.1rem;
    color: #ffffff;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #ef233c; 
    transition: color 0.3s ease;
}

a:hover {
    color: #DEE2E6;
}

/* Homepage styles */
.home-section{
    text-align: center;
    margin: 3rem auto;
    max-width: 50%;
}

.home-section span{
    font-weight: bold;
    font-style: italic;
    color: #CED4DA;
}

.cta-container{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top:3rem;
}

.cta-container a{
    background-color: #ef233c;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

/* Form Login-Register*/
.form-container{
    text-align: center;
}

.login-form, .registration-form {
    background-color: #CED4DA; 
    padding: 1rem 3rem;
    border-radius: 8px;
    max-width: 400px;
    box-shadow: 2px 2px 5px #ef233c;
}

form label{
    color: #212529;
    font-weight: bold;
    display: block;
    margin-top: 0.8rem;
    text-align: left;
}

form input{
    background-color: #2a2e36;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border: 1px solid #ef233c;
}

.help-text {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #6c757d;
    text-align: left;
}

/* Error messages */
.login-form .errorlist,
.registration-form .errorlist {
    color: #ef233c;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
}

/* Form button */
.button-log-form{
    margin-top: 1rem;
    background-color: #ef233c;
    color: #fff;
    font-weight: bold;
    padding: 0.6rem 1.3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.button-log-form:hover{
    background-color: #212529;
}

.form-footer{
    margin-top: 1rem;
}

.italic-text{
    font-style: italic;
}

/*Logout page*/
.logout-message h2 {
    color: #DEE2E6;
    font-weight: bold;
    margin: 5rem auto; 
}

.intro-page{
    text-align: center;
    margin-bottom: 2rem;
}

/*Profile page styles*/
.profile-img-container {
    margin-top: 15px; 
}

.profile-img-container img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%; 
    object-fit: cover;
}

.profile-details {
    margin-bottom: 1rem;
}

.profile-up-del-link{
    display: inline-flex;
    gap: 3rem;
    margin-bottom: 1rem;
}
/*Statistic activity Left block */

.profile-sport-button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #CED4DA;
    border-radius: 0.3rem;
    overflow: hidden;
    font-weight: bold;
    max-width: fit-content;
}
.profile-sport-button a{
    padding: 0.5rem;
    color: #212529;
    transition: background-color 0.3s ease, color 0.5 ease;
}

.profile-sport-button a:hover {
    background-color: #2a2e36;
    color: #CED4DA;
}
.selected{
    background-color: #2a2e36;
    color: #CED4DA!important;
}

.selected:hover {
    background-color: #CED4DA;
}

.statistics-container{
    margin-top: 1rem;
    background-color: #343A40;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 3rem;
}
.activity-container h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #CED4DA;
}

.stat-container {
    margin-bottom: 1.1rem;
    padding: 1rem;
    border: 1px solid #ef233c;
    border-radius: 0.5rem;
    background-color: #CED4DA;
}

.stat-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343A40; 
    margin-bottom: 1rem;
    border-bottom: 1px solid #ef233c;
    padding-bottom: 5px;
}

.stat-container p {
    margin: 5px 0;
    font-size: 1rem;
    color: #343A40; /* Subtle gray for labels */
}

.stat-container p span {
    font-weight: bold;
    color: #212529; /* Make data values stand out */
}

.dropdown{
    margin-top: 0.5rem;
    background-color: #CED4DA;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
/* =================================================================
 * SECTIONS
 * ========================================================================== */
/*
.races-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.statistics-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.discipline-container{
    display: flex;
}

.discipline-item{
    flex: 1;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}




*/

/* 




.subform-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.subform-discipline{

    width: 300px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.actual-form{
    display:none;
}

.subform-discipline.active .actual-form {
    display: block;
}

.subform-discipline.active .form-placeholder{
    display:none;
} 
*/

/* Footer Styles */
footer {
    background-color: #343A40;
    text-align: center;
    width: 100%;
}
footer p{
    color: #CED4DA;
    padding: 2rem 0rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}
