{% extends 'base.html' %}

{% block title %} Races - Add {% endblock %}

{% block content %}
    
    <!--  If the form is an instance, is beign updated -->
    {% if race_form.instance.pk %}
        <h1>Update the race</h1>
    <!-- Creating -->
    {% else %}
        <h1>Create a new race</h1>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ race_form.as_p }}
        
        <div class="subform-grid">
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="js-subform-discipline subform-discipline" onclick="showDisciplineForm(this)">
                    <div class="form-placeholder">
                        <!-- This is the white square placeholder. -->
                        <p>Add discipline</p>
                    </div>
                    <div class="actual-form">
                        {{ form.as_p }}
                    </div>
                    
                </div>
            {% endfor %}
        </div>    
 
        <button type="submit">Submit</button>
    </form>
    

    <a href="{% url 'races' %}">Back to the List</a>
{% endblock %}