:root{
  /*colours*/
  --color-text : rgb(255, 255, 255);
  --color-text-dark : rgb(0, 0, 0);
  --color-primary: #DEE2E6;
  --color-secondary: #ef233c;
  --color-dark: #343A40;
  --color-bg: #181a1d;
}